<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capitaltrade.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FiDashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddCaseActivity"
            android:label="Add Case"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ViewSubmittedCaseActivity"
            android:label="Submitted Cases"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ViewCaseStatusActivity"
            android:label="Case Status"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ContactActivity"
            android:label="Contact"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ViewCaseSubmittedFiActivity"
            android:label="Submitted Case"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FIAddCaseActivity"
            android:label="New Case"
            android:screenOrientation="portrait"/>
    </application>

</manifest>